aside{
    width:30%;
    background-color: black;
    overflow: auto;
    display: inline-block;
    color: white;
}
aside ul{
    float: right;
    margin: 8px 0;
    padding: 0;
}
aside li{
    list-style-type: none;
    padding: 10px 26px 10px 16px;
    cursor: pointer;
}
aside li:hover{
    background-color: grey;
}